@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

h3,
h4 {
  ~ img {
    margin-top: 32px;
  }
}

.rspress-nav {
  + section {
    @media (min-width: 768px) {
      .md\:flex-row {
        flex-direction: row !important;
      }
    }
  }
}

.rspress-doc-footer {
  @media (min-width: 640px) {
    .sm\:flex-row {
      flex-direction: row !important;
    }
  }
}
